input{
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    width: inherit;
}

button{
    border-radius: 5px;
    padding: 2%;
    margin: 2%;
    width: inherit;
}

img{
    width: 40%;
}

.container{
    display: flex;
    justify-content: space-around;
}

.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.contador{
    background-color: darkkhaki;
    justify-content: center;
    flex-direction: column;
}

#tempo{
    text-align: center;
}

#cronometro{
    font-size: 2em;
    color: white;
}

.foguete{
    align-items: flex-end;
}