.container {
 	display: flex;
	justify-content: center;
 	margin-top: 2%;
}

.item {
}

p {
	color: white;
}
input {
	border-radius: 5px;
}

button {
	border-radius: 5px;
}

.figure {
	width: 200px; 
}

body {
 	background-color: rgb(71, 136, 135);
}